{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}用户模板{% endblock %}
{% block menu %}
{% if request.session.is_login %}
{% ifequal request.session.type "competitor" %}
<div class="row">
  <div class="col-lg-3">
	<div class="btn-group" role="group">
    <a href="/usercenter/info/">
		<button type="button" class="btn btn-lg btn-info btn-block">个人信息</button>
	  </a><br><a href="/usercenter/mycompetition/">
		<button type="button" class="btn btn-lg btn-info btn-block">我的竞赛</button>
	  </a><br><a href="/usercenter/findteam/">
		<button type="button" class="btn btn-lg btn-info btn-block" disabled="disabled">寻找队友</button>
	  </a>
    </div>
  </div>
</div>
{% endifequal %}
{% endif %} 
{% endblock %}
