{% extends 'minibase.html' %}
{% load staticfiles %}
{% block title %}赛事主页{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
	<p style="text-align:center"><img src="{{item.img.url}}" width="40%" alt="暂无图片"/></p>
    <h2 style="text-align:center">{{competition.name}}</h2>
    <p style="text-align:center">主办方：{{competition.organizer}}</p><br>
	<p style="text-align:center">阶段数：{{competition.totalStageNum}}</p><br>
	<ul style="text-align:center">
    {% for item in childcompetitionlist %}
      <div id="childcompetition">
        <li>
	      <p>{{item.name}}阶段时间：{{item.startDate}}--{{item.endDate}}</p>
	    </li>
      </div>
    {% endfor %}
    </ul>
    <p style="text-align:center">{{item.description}}</p><br>
  {% if request.session.is_login %}
	<form name="signupform" id="form1" method="post" action="/competition/id={{competition.id}}">
	  <p style="text-align:center"><button type="submit" class="btn btn-lg btn-primary" style="width:30%">报名</button></p>
	</form>
	<p style="text-align:center"><input type="file"></p>
  </div>
  {% else %}
  <p style="text-align:center"><button type="submit" class="btn btn-lg btn-primary" style="width:40%" disabled="disabled">请先登录</button></p>
  {% endif %}
  <div class="col-lg-2"></div>
</div>
{% endblock %}