{% extends 'minibase.html' %}
{% load staticfiles %}
{% block title %}赛事主页{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
	<p style="text-align:center"><img src="{{ MEDIA_URL }}{{competition.img.file}}" width="100%" alt="暂无图片"/></p>
    <h2 style="text-align:center">{{competition.name}}</h2>
    <p style="text-align:center">主办方：{{competition.organizer}}</p><br>
    <p style="text-align:center">队伍最大人数：{{competition.maxmember}}</p><br>
	<p style="text-align:center">阶段数：{{competition.totalStageNum}}</p><br>
	<ul style="text-align:center">
    {% for item in childcompetitionlist %}
      <li>
	    <p>{{item.name}}阶段时间：{{item.startDate}}--{{item.endDate}}</p><br>
        <p>阶段详情：{{ item.description }}</p>
	  </li>
    {% endfor %}
    </ul>
    <p style="text-align:center">{{item.description}}</p><br>
  {% if request.session.is_login %}
  {% ifequal request.session.type "competitor" %}
	<form name="signupform" id="form1" method="post" action="/competition/?id={{competition.id}}" enctype="multipart/form-data">
    {% csrf_token %}
      <input type="hidden" value={{competition.id}} name="comp_id"/>
      <input type="hidden" value={{competition.isMember}} name="isMember"/>
      {% if competition.isMember %}
      <p style="text-align:center">
         <input type="file" name="newfile">
         <button type="submit">提交</button>
      </p>
      <p style="text-align:center"><button type="button" class="btn btn-lg btn-primary" style="width:30%" disabled="disabled">已报名</button></p>
      {% else %}
      <p style="text-align:center"><button type="submit" class="btn btn-lg btn-primary" style="width:30%">报名</button></p>
      {% endif %}
    </form>
      {% ifequal competition.maxmember 1 %}
      <p style="text-align:center"><button type="button" class="btn btn-lg btn-primary" style="width:30%" disabled="disabled">本竞赛不支持创建队伍</button></p>
      {% else %}
      {% if competition.inTeam %}
      <p style="text-align:center"><button type="button" class="btn btn-lg btn-primary" style="width:30%" disabled="disabled">已有队伍</button></p>
      {% else %}
      <form name="signupform2" id="form2" method="post" action="/create_team/">
        <input type="hidden" value={{competition.id}} name="comp_id"/>
        <p style="text-align:center"><button type="submit" class="btn btn-lg btn-primary" style="width:30%">创建队伍</button></p>
      </form>
      {% endif %}
      {% endifequal %}
  </div>
  {% endifequal %}
  {% ifequal request.session.type "organizer" %}
  {% if competition.isOrganizer %}
	<form method="POST">
    <input type="hidden" value={{competition.id}} name="comp_id"/>
    <table border="1">
    <tr>
        <th>评委</th>
        <th>状态</th>
        <th>选中</th>
    </tr>
    {% for judge in judgelist %}
        <tr>
          <td>{{judge.username}}</td>
          {% if judge.status %}
          <td>已安排</td>
          {% else %}
          <td>未安排</td>
          {% endif %}
          <td><input type="radio" name="checked" value={{judge.username}}></td>
        </tr>
    {% endfor %}
    </table>
    <button type="submit" class="btn btn-primary"  formaction="/organizer/trust/">安排</button>
    <button type="submit" class="btn btn-primary"  formaction="/organizer/cancel/">取消</button>
  </form>
  {% endif %}
  {% endifequal %}
  {% ifequal request.session.type "judge" %}
      <a href="/scoring/?id={{ competition.id }}">
		<button type="button" class="btn btn-lg btn-info btn-block">进入评分页面</button>
	  </a><br>
  {% endifequal %}
  {% else %}
  <p style="text-align:center"><button type="button" class="btn btn-lg btn-primary" style="width:40%" disabled="disabled">请先登录</button></p>
  {% endif %}
  <div class="col-lg-2"></div>
</div>
{% endblock %}