{% load staticfiles %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}小模板{% endblock %}</title>
<link href="{% static 'css/bootstrap-4.0.0.css' %}" rel="stylesheet" type="text/css">
{% block css %}{% endblock %}
<style type="text/css">
.1 {
}
</style>
</head>

<body>
{% if request.session.is_login %}
<div class="row">
  <div class="col-lg-6"></div>
  <div class="col-lg-2">
	<a href="/usercenter/">
	  <p>{{ request.session.username }}</p>
	</a>
  </div>
  <div class="col-lg-2">
	<a href="/usercenter/">
      <img src="{% static 'images/ImgResponsive_Placeholder.png' %}" class="rounded-circle img-fluid" alt="Placeholder image" width="20%">
	</a>
  </div>
  <div class="col-lg-2">
    <button type="button" class="btn btn-link">注销</button>
  </div>
</div>
{% endif %}
<div class="row">
  <a href="/index/">
    <img src="{% static 'images/test.jpg' %}" width="100%" height="100%" alt="返回首页"/>
  </a>
</div>
{% block content %}{% endblock %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap-4.0.0.js' %}"></script>
</body>
</html>
