<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap-4.0.0.css" rel="stylesheet" type="text/css">
{% extends 'cbase.html' %}
{% load staticfiles %}
{% block title %}用户-我的队伍{% endblock %}
{% block content %}
{% if request.session.is_login %}
{% ifequal request.session.type "competitor" %}
<ul>
{% for item in competitionlist %}
  <div id="competition" style="border-style: inset">
    <li>
	  <div class="row">
        <div class="col-lg-4">
          <img src="{{item.img.url}}" width="30%" alt="暂无图片"/>
		</div>
		<div class="col-lg-8">
	      <a href="/competition/id={{item.id}}/">{{item.name}}</a>
	      <p>主办方：{{item.organizer}} {{item.totalStageNum}}阶段</p><br>
	      <p>{{item.description}}</p><br>
		</div>
	  </div>
	</li>
  </div>
{% endfor %}
</ul>
<p style="text-align:center">
  <a href="/create_team/">
		<button type="button" class="btn btn-primary btn-lg">创建队伍</button>
	</a><a href="/search_team/">
		<button type="button" class="btn btn-primary btn-lg">寻找队伍</button>
	</a>
</p>
{% endifequal %}
{% endif %} 
{% endblock %}
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap-4.0.0.js"></script>
