{% extends 'sabase.html' %}
{% load staticfiles %}
{% block title %}超管-管理员列表{% endblock %}
{% block content %}
{% if request.session.is_login %}
{% ifequal request.session.type "superadmin" %}
<table border="1">
    <tr>
        <th>管理员用户名</th>
    </tr>
{% for admin in adminlist %}
    <tr>
	  <td>{{admin.username}}</td>
	</tr>
{% endfor %}
</table>
<form method="POST">
  <div class="form-group">
    <label for="adminname">管理员用户名：</label>
    <input type="text" class="form-control" name="adminname">
  </div>
  <div class="form-group">
    <label for="adminpwd">管理员密码：</label>
    <input type="text" class="form-control" name="adminpwd">
  </div>
  <button type="submit" class="btn btn-primary" formaction="/usercenter/superadmin/adminlist/add/">创建管理员</button>
  <button type="submit" class="btn btn-primary" formaction="/usercenter/superadmin/adminlist/delete/">删除管理员</button>
</form>
{% endifequal %}
{% endif %} 
{% endblock %}
