<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap-4.0.0.css" rel="stylesheet" type="text/css">
{% extends 'cbase.html' %}
{% load staticfiles %}
{% block title %}用户-我的队伍{% endblock %}
{% block content %}
{% if request.session.is_login %}
{% ifequal request.session.type "competitor" %}
<ul>
{% for item in teamlist %}
  <div id="competition" style="border-style: inset">
    <li>
	  <div class="row">
        <div class="col-lg-4"></div>
		<div class="col-lg-8">
	      <a href="/team/?id={{item.id}}">{{item.name}}</a>
	      <p>队长：{{item.leader}} 所属竞赛：{{item.competetion}}</p><br>
	      <p>成员：</p>
          {% for member in item.memberlist %}
             <p> {{member.username}}</p>
          {% endfor %}
		</div>
	  </div>
	</li>
  </div>
{% endfor %}
</ul>
{% endifequal %}
{% endif %} 
{% endblock %}
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap-4.0.0.js"></script>
